In [6]:
os.getcwd()

'C:\\Users\\T JACK\\Desktop\\ACSP\\code\\GreenChannel\\dataset\\0_test'

In [5]:
#测试excel（xlsx）的读，写，包括对于子表等的读写
from openpyxl import load_workbook
import os
# origin_path = 'C:/Users/T JACK/Desktop/ACSP/code/GreenChannel/dataset'
origin_path =  r'C:\Users\T JACK\Desktop\ACSP\code\GreenChannel\dataset'
current_path = os.path.join(origin_path,'0_test')
os.chdir(current_path)

In [7]:
wb = load_workbook('0.xlsx')
wb.get_sheet_names()

C:\Users\TJACK~1\AppData\Local\Temp/ipykernel_23684/2603590620.py:2: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  wb.get_sheet_names()

['Sheet1', 'Sheet2']

In [13]:
sheet_2 = wb.get_sheet_by_name('Sheet2')
type(sheet_2['B3'].value)

C:\Users\TJACK~1\AppData\Local\Temp/ipykernel_23684/2310760550.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  sheet_2 = wb.get_sheet_by_name('Sheet2')

int

In [32]:
import pandas as pd
wb = load_workbook('0.xlsx')
# ws = wb.active
sheet_2 = wb.get_sheet_by_name('Sheet2')
values = sheet_2.values
cols = next()
df = pd.DataFrame(values)
df

C:\Users\TJACK~1\AppData\Local\Temp/ipykernel_23684/747057723.py:4: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  sheet_2 = wb.get_sheet_by_name('Sheet2')

,0,1,2,3,4,5,6,7,8,9,10
0,实验序号,ISO,Shutter,light,intensity,action,brand,MAE,SNR,GT_HR,Face_HR
1,1,-1,1/50,None,None,None,None,None,None,None,None
2,2,-1,1/100,None,None,None,Xiaomi,None,None,None,None
3,3,-1,1/200,None,100,None,None,None,None,None,None
4,4,-1,1/400,None,None,None,Xiaomi,None,None,None,None
5,5,50,-1,None,None,still,None,None,None,None,None
6,6,100,-1,None,None,None,None,None,None,None,None
7,7,200,-1,None,None,None,None,None,None,None,None

In [37]:
df.columns

RangeIndex(start=0, stop=11, step=1)

In [1]:
import pandas as pd
df1 = pd.read_excel('0.xlsx',sheet_name='Sheet2')
df1

,实验序号,ISO,Shutter,light,intensity,action,brand,MAE,SNR,GT_HR,Face_HR
0,1,-1,1/50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,-1,1/100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,-1,1/200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,-1,1/400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,50,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,100,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,200,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df1['实验序号'][1].dtype

dtype('int64')

In [4]:
#测试excel（xlsx）的读，写，包括对于子表等的读写
from openpyxl import load_workbook
import os
# origin_path = 'C:/Users/T JACK/Desktop/ACSP/code/GreenChannel/dataset'
origin_path =  r'C:\Users\T JACK\Desktop\ACSP\code\GreenChannel\dataset'
current_path = os.path.join(origin_path,'0_test')
os.chdir(current_path)
import pandas as pd
experiment_df = pd.read_excel('0.xlsx',sheet_name='Sheet2')
name_str = []
for i in range (len(experiment_df.index)):
    name_str.append(str(experiment_df['实验序号'][i])+'_'+'ISO'+str(experiment_df['ISO'][i])+'_'+'S'+str(experiment_df['Shutter'][i]))
print(name_str)

['0_ISO-1_S-1', '1_ISO-1_S1/60', '2_ISO-1_S1/125', '3_ISO-1_S1/250', '4_ISO50_S-1', '5_ISO100_S-1', '6_ISO200_S-1', '7_ISO400_S-1']

In [6]:
from openpyxl import load_workbook
import os
# origin_path = 'C:/Users/T JACK/Desktop/ACSP/code/GreenChannel/dataset'
origin_path =  r'C:\Users\T JACK\Desktop\ACSP\code\GreenChannel\dataset'
current_path = os.path.join(origin_path,'0')
os.chdir(current_path)
wb = load_workbook('0.xlsx')
ws = wb['实验信息总表']
print(ws.cell(1,1).value)
wb.create_sheet(index=1, title='One Sheet')
wb.save('0.xlsx')

实验序号

In [18]:
ws.cell(1,1).value

'实验序号'

In [21]:
wb.create_sheet(index=2, title='0_0')
wb.save('0.xlsx')

In [13]:
import time
ws = wb['data']
a = [0,1,2,3,4]
b = [5,6,7,8,9]
c = [
    [0,1],
    [2,3],
    [0,1],
    [2,3],
    [5,6]
]
for i in range(5):
    print(time.time())
    # ws.cell(i+1,1).value=a[i]
    # ws.cell(i+1,2).value=b[i]
    ws.append(c[i])
    print(time.time())

1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329
1660488319.556329

In [25]:
# 创建WorkSheet及删除
import openpyxl

# 创建工作簿
wb = openpyxl.Workbook()
ws = wb.active

print('默认工作表名称', ws.title)

# 设置名称
ws.title = 'mySheet'
print(ws.title)
# 获取工作簿的所有sheetNames
print(wb.sheetnames)  # 返回所有sheet名称 列表对象
print(wb.get_sheet_names())

print('创建工作表')
wb.create_sheet(index=1, title='One Sheet')
wb.create_sheet(index=2, title='Two Sheet')
wb.create_sheet(index=3, title='Three Sheet')
print(wb.sheetnames)
print('删除工作表')
# wb.remove_sheet(wb['Two Sheet'])  # Deprecating Waring：弃用
wb.remove(wb['Two Sheet'])
print(wb.sheetnames)
wb.save('test.xlsx')

默认工作表名称 Sheet
mySheet
['mySheet']
['mySheet']
创建工作表
['mySheet', 'One Sheet', 'Two Sheet', 'Three Sheet']
删除工作表
['mySheet', 'One Sheet', 'Three Sheet']

C:\Users\TJACK~1\AppData\Local\Temp/ipykernel_15920/903551488.py:15: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  print(wb.get_sheet_names())

In [2]:
60/7

8.571428571428571

In [12]:
import pandas as pd
file_path = r'C:\Users\T JACK\Desktop\ACSP\code\GreenChannel\dataset\0\0.xlsx'
experiment_id = 0
df = pd.read_excel(file_path,sheet_name=str(experiment_id),header=None)
df[1] = df[1].apply(int, base=16)

0        73
1        65
2        57
3        51
4        46
       ...
5888    100
5889     96
5890     95
5891     97
5892    101
Name: 1, Length: 5893, dtype: int64

In [1]:
import pandas as pd
import numpy as np

a = [0,1,2,3,5,3,2,1]
np.argmax(a)

4